#colorBar{
    width: fit-content;
    height: 30px;

    
    border-radius: 5px;

    display: none;

    

    position: absolute;
    top: 160px;
    right: 20px;

    padding: 5px;    
}

#colorBar button{
    border-radius: 5px;
    padding: 10px;
    border: 3px solid rgb(59, 59, 59);
    filter: opacity(50%);
}
#colorBar button:hover{
    filter: opacity(100%);
}

#colorbar_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}


#intro{
    width: fit-content;
    padding-top: 25px;
    padding-bottom: 25px;

    transition: all 1s ease;
    position: relative;
}
#intro:hover #colorBar{
        display: block;
        
    }

#span_container{
    margin-left: 30px;
    font-size: 0.92rem;
    margin-top: 10px;
}
.intro_span{
    margin-right: 10px;
}

#name{
    font-weight: 700;
    font-size: 3rem;

    margin-left: 30px;
    margin-bottom: 0;
    margin-top: auto;
}
#namecard{
    width: 100%;
}