html{
    font-family: 'IBM Plex sans', monospace;
    font-weight: 300;
}
body{
    margin: 0;
    
}
section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

    
    >h2{
        margin: 0;
        font-size: 1em;
        font-weight:900;
    }
    >p{
        font-size: 0.92rem;
        margin-bottom: 0;
    }
}
.bold-text{
    font-weight: 700;
    font-size: 1rem;
}

#photu{
    width: 110px;
    border: 1px solid;
}
#intro{
    width: fit-content;
    background-color: beige;
    padding-top: 25px;
    padding-bottom: 25px;
}
#span_container{
    margin-left: 30px;
    font-size: 0.92rem;
    margin-top: 10px;
}
.intro_span{
    margin-right: 10px;
}

#name{
    font-weight: 700;
    font-size: 3rem;

    margin-left: 30px;
    margin-bottom: 0;
    margin-top: auto;
}
#namecard{
    width: 100%;
}
hr{
    margin-top: 0;
    margin-bottom: -8px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}







/*Para*/
.line{
    border-bottom: 1px solid;
    margin-bottom: -10px;
}

/*Projects*/
#projects{
    
    >table{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 0.92rem;
        width: 100%;
    }
    
}

.ul_gap{
    margin-top: 0px;
}

#education{
    >table{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 0.92rem;
        width: 100%;
    }
}
#skills{
    font-size: 0.92rem;
}
#skills ul{
    margin-bottom: 0;
}
i{
    font-weight: 300;
}
.lang{
    vertical-align: bottom;
}

#experience{
    >table{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 0.92rem;
        width: 100%;
    }
}
#experience ul{
    margin-bottom: 0;
}


#por ul{
    margin-bottom: 0;
}

#por table{
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 0.92rem;
    width: 100%;
}