

html{
    font-family: 'IBM Plex sans', monospace;
    font-weight: 300;

    background-color: brown;
    font-size: 16px;
}
body{
    margin: 0;
    /* min-height: 1320px;
    max-height: 1320px;     */
}

.root{
    overflow-y: auto;

    height: 100vh;  
    /* border: 5px solid yellow; */

    display: flex;
    justify-content: center;
}



section{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

    
    >h2{
        margin: 0;
        font-size: 1em;
        font-weight:900;
    }
    >p{
        font-size: 0.92rem;
        margin-bottom: 0;
    }
    
    min-width: 900px; /*height = 1320px*/
    max-width: 900px;
    
    overflow-y: visible;
}
.bold-text{
    font-weight: 700;
    font-size: 1rem;
}



hr{
    margin-top: 0;
    margin-bottom: -8px;
    margin-left: 30px;
}
a{
    text-decoration: none;
    color: inherit;
}







/*Para*/
.line{
    border-bottom: 1px solid;
    margin-bottom: -10px;
}

/*Projects*/
#projects{
    >table{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 0.92rem;
        width: 100%;
    }
}

.ul_gap{
    margin-top: 0px;
    margin-bottom: 0px;
}

#education{
    >table{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 0.92rem;
        width: 100%;
    }
}
#skills{
    margin-top: 20px;
}
#skills ul{
    margin-bottom: 0;
    margin-top: 16px;
    font-size: 0.92rem;
}
i{
    font-weight: 300;
}
.lang{
    vertical-align: bottom;
}
#experience{
    margin-top: 16px;
}
#experience{
    >table{
        margin-top: 10px;
        margin-bottom: -20px;
        font-size: 0.92rem;
        width: 100%;
    }
}
#experience ul{
    margin-bottom: 0;
}

#por{
    margin-top: 16px;
}
#por ul{
    margin-bottom: 0;
}

#por table{
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 0.92rem;
    width: 100%;
}

/*Custom FontAwesome elements*/
.fa-arrow-up-right-from-square{
    opacity: 50%;
}
#cer{
    margin-top: 16px;
}
#cer ul{
    margin-bottom: 0;
    margin-top: 0;
}

#cer table{
    margin-top: 10px;
    margin-bottom: -20px;
    font-size: 0.92rem;
    width: 100%;
}

#print-content{
     margin-top: 5vh;
     display: flex;
     flex-direction: column;
     /* gap: 30px;  */
     background-color: white;

     /* border: 5px solid red ; */
     height: 1400px;

}

#education .spacer{
    padding-top: 15px;
}